*{
  margin: 0%;
}

body {
  background-color: #100f1a;
  color: white;
  font-family: Font;
}

@font-face { font-family: Font; src: url('../Bigboy.ttf'); } 
img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
#InfoDropdown
{
  width: 20%;
  font-size: 32px;
  font-family: Font;
  background-color: #171621;
  color: #ffffff;
  position: absolute;
  top: 115%;
  left:25%;
  border-radius: 16px;
}
#InfoDesription
{
  font-size: 24px;
  font-family: Font;
  color:#ffffff;
  position: absolute;
  top: 5%;
  left: 1%;
}
#InfoBox
{
  background-color: #171621;
  position: absolute;
  top: 125%;
  left: 25%;
  width: 50%;
  height: 40%;
  border-radius: 24px;
}
#Burger{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 35%;
  right: 0;
  text-align: center;
  width: 5%;
  top: 40%;
}
#Product{
  position:absolute;
  width: 5%;
  left: 2.5%;
  top:2.5%;
  transition: width 0.3s;
}
.Counter
{
  width: 45%;
  left: 10%;
}
#EmployeeCounter{
  position:absolute;
  top:2.5%;
  text-align: center;
  font-size: 48px;
  
}
#BurgerGunCounter{
  position:absolute;
  top:62.5%;
  text-align: center;
  font-size: 48px;
  
}
#SquareBurgerCounter{
  position:absolute;
  top:92.5%;
  text-align: center;
  font-size: 48px;
  
}
#BurgerFabricatorCounter
{
  position:absolute;
  top:47.5%;
  text-align: center;
  font-size: 48px;
  
}
#MicrowaveCounter{
  position:absolute;
  top:17.5%;
  text-align: center;
  font-size: 48px;
  
}
#BurgerBurgerCounter{
  position:absolute;
  top:77.5%;
  text-align: center;
  font-size: 48px;
  
}
#FactoryCounter{
  position:absolute;
  top:32.5%;
  text-align: center;
  font-size: 48px;
  
}
#BurgerTextCounter
{
  font-size: 64px;
  position:absolute;
  width: 45.3%;
  left: 45%;
  top:22%;
  text-align: center;
    
}
#Product {
  display: inline-block;
  animation: rotation 1s infinite ease-in-out;
}

@keyframes rotation {
  0% {
    transform: rotate(-16deg);
  }
  50% {
    transform: rotate(16deg);
  }
  100% {
    transform: rotate(-16deg);
  }
}
.ScaleButton:hover {
    width: 7% !important;
  }
.ScaleButton:active
  {
    width: 3% !important;
  }
.ScaleButton{
    -webkit-transition: -webkit-transform 0.4s;
    transition: width 0.4s;
    
}

#bps {
  font-size: 32px;
  position:absolute;
  width: 20%;
  left: 57.5%;
  top:33%;
  text-align: center;
}